<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<<<<<<< HEAD
    <title>GJ header</title>
    <link rel="icon" type="image/png" href="../../public/Images/GJfavicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/layouts.css">
=======
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/layouts.css">
    <title>GJ header</title>
>>>>>>> 457b1ae8f1e8a18dc1f3c888431540d6f81425ea
</head>
<header>
    <header class="p-3 text-bg-dark navbar">
        <div class="container mx-0">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <img src="Images/GJlogo.png" alt="GJ logo" height="50px" width="250">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 mx-5 home-btn">Home</a></li>
            </ul>
          </div>
        </div>
      </header>
</header>
</html>